{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur mon site</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde porro libero ratione ex deserunt quasi dicta eaque aut reprehenderit quos iusto, debitis corrupti consequatur temporibus fugiat quis distinctio animi quisquam ab minima dolores. Numquam assumenda illum nihil ex omnis possimus.</p>
<p>Enim culpa illo consequatur iste necessitatibus voluptate officia quod. Doloremque similique cumque sunt perspiciatis ratione voluptatibus, aperiam eum necessitatibus qui reiciendis autem error voluptate hic maxime rem deleniti corrupti quas placeat unde sapiente dolore distinctio adipisci repellendus. Repudiandae, ab recusandae!</p>
<p>At molestias optio dolorem corrupti officiis perspiciatis repellat eaque exercitationem, voluptates nostrum consectetur error, enim culpa accusamus magni facere. Sunt dolor ullam, rem nihil quae eos harum quia placeat laudantium. Alias tempore qui necessitatibus eveniet? Labore dolore quisquam obcaecati nulla.</p>

{% endblock %}