{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

<section class="articles">
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 16/03/2020 à 20h00 dans la categorie Symfony</div>
    <div class="content">
        <img src="http://placehold.it/320x150" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae vitae saepe ad et dolorum aperiam.</p>
        <p>Quia nesciunt nihil, aliquam numquam deserunt repudiandae tempora sit modi delectus autem placeat ducimus vitae!</p>
    </div>
    <a href={{path('blog_show')}} class="btn btn-sm btn-primary">Lire la suite</a>
</article>
<br />
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 16/03/2020 à 20h00 dans la categorie Symfony</div>
    <div class="content">
        <img src="http://placehold.it/320x150" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae vitae saepe ad et dolorum aperiam.</p>
        <p>Quia nesciunt nihil, aliquam numquam deserunt repudiandae tempora sit modi delectus autem placeat ducimus vitae!</p>
    </div>
    <a href={{path('blog_show')}} class="btn btn-sm btn-primary">Lire la suite</a>
</article>
<br />
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 16/03/2020 à 20h00 dans la categorie Symfony</div>
    <div class="content">
        <img src="http://placehold.it/320x150" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae vitae saepe ad et dolorum aperiam.</p>
        <p>Quia nesciunt nihil, aliquam numquam deserunt repudiandae tempora sit modi delectus autem placeat ducimus vitae!</p>
    </div>
    <a href={{path('blog_show')}} class="btn btn-sm btn-primary">Lire la suite</a>
</article>


    
</section>
{% endblock %}
